body {
  background-color: #ffffff !important;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
label {
  margin: 0;
}

.cr-notallowed{
  cursor: not-allowed;
}
.rounded17 {
  border-radius: 17px !important;
}
.custom-border-light {
  border: 1px solid #d6dae1 !important;
}
input {
  outline: none !important;
}

.border-t-default {
  border-top: 1px solid #d6dae1 !important;
}
.font-weight-600 {
  font-weight: 600 !important;
}
.font-weight-400 {
  font-weight: 400 !important;
}

.text-link-style {
  text-decoration: none !important;
  color: #0778d4 !important;
  cursor: pointer;
}
.text-dark-gray {
  color: #363e50 !important;
}
.text-light-gray {
  color: #566381 !important;
}
.text-lightest-grey {
  color: #828c81 !important;
}

.font-12 {
  font-size: 12px !important;
  line-height: 1rem !important;
}

.font-14 {
  font-size: 14px !important;
  line-height: 1.25rem !important;
}
.font-18 {
  font-size: 18px !important;
  line-height: 1.5rem !important;
}

.font-24 {
  font-size: 24px !important;
  line-height: 2rem;
}

.font-28 {
  font-size: 28px !important;
}

.font-30 {
  font-size: 30px !important;
}

.custom-btn-style {
  align-self: center;
  height: 24px !important;
  border: 1px solid #d6dae1;
  background-color: transparent;
  padding: 0 0.5rem;
  text-align: center;
}
.btn-style:hover {
  background-color: #ebebeb !important;
}
.h-24px {
  height: 24px !important;
}
.h-32px {
  height: 32px !important;
}
.w-140px {
  width: 140px !important;
}
.w-256px {
  width: 256px !important;
}

.custom-drop-menu {
  position: absolute !important;
  bottom: 0 !important;
  right: 0 !important;
}

.cr-p {
  cursor: pointer !important;
}

/* my-header */
.my-header {
  position: sticky;
  top: 0px;
  background: rgb(255, 255, 255);
  z-index: 10;
  border-bottom: 1px solid rgb(214, 218, 225);
  padding: 16px 24px;
}

/* accordian */

/* catalog */

.p150 {
  padding-right: 150px !important;
}
.p50 {
  padding-right: 50px !important;
}
.p40 {
  padding-right: 40px !important;
}
.custom-toggle-input {
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 8px;
  background-color: rgb(214, 218, 225);
  border-radius: 25px;
  transition: 0.6s;
  cursor: pointer;
  position: relative;
}
.custom-toggle-input::after {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #828ca1;
  display: block;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-40%, -50%);
  transition: left 0.3s;
}
.custom-toggle-input-main .custom-toggle-input:checked::after {
  left: 70%;
  background-color: #0078d4 !important;
}
.custom-toggle-input-main .custom-toggle-input:checked {
  background-color: rgb(151, 219, 252) !important;
}

.custom-toggle-input2 {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 4px;
  background-color: rgb(214, 218, 225);
  border-radius: 25px;
  transition: 0.6s;
  cursor: pointer;
  position: relative;
}
.custom-toggle-input2::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #828ca1;
  display: block;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-40%, -50%);
  transition: left 0.3s;
}
.custom-toggle-input2:checked::after {
  left: 70%;
  background-color: #0078d4 !important;
}
.custom-toggle-input2:checked {
  background-color: rgb(151, 219, 252) !important;
}

.C9Y-Icon-base {
  align-self: center;
  width: 1em;
  min-width: 1em;
  height: 1em;
  margin-bottom: 0;
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  vertical-align: -0.145em;
}
.triangle-icon {
  -webkit-text-stroke: 1px rgb(214, 36, 0);
  color: transparent;
  font-size: 8px;
  margin-right: 8px;
}
.green-circle {
  background-color: rgb(0, 137, 62);
  border-radius: 9999px;
  height: 8px;
  margin-right: 8px;
  min-width: 8px;
}

.box {
  height: 8px;
  width: 8px;
  border-radius: 2px;
  margin-right: 8px;
  margin-left: 4px;
}
.bg-purple {
  background: rgb(138, 62, 242);
}
.bg-light-blue {
  background: rgb(72, 170, 249);
}
.bg-dark-blue {
  background-color: #0778d4;
}
.show-more-attribute-btn {
  cursor: pointer;
  height: 2rem;
  min-width: 0;
  padding: 0 0.75rem;

  color: #566381;
  font-size: 0.75rem;
  font-weight: 600;

  background-color: rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 4px;
  outline: 0;
}

.show-more-attribute-btn:hover {
  background-color: #e9ecf2;
}

/* .card-header:before {
  font-family: 'Glyphicons Halflings';
  content: url(./images/lessthan.svg);
  float: right;
  transition: all 0.5s;
} */
.panel-title > a,
.panel-title > a:active {
  display: block;
  padding: 15px;
  color: #555;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 3px;
  text-decoration: none;
}

/* .panel-title a:after {
  font-family: "Glyphicons Halflings";
  content: url(./images/lessthan.svg);
  float: right;
  transition: all 0.5s;
}
.panel-title a.collapsed:after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

.panel-title a.collapsed:after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
} */
.card-header div.collapsed .collapse-icon {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* sub collapse */

.card-header div.collapsed .sub-collapse-icon {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

.pl62px {
  padding-left: 62px !important;
}

.custom-drop-menu {
  width: 530px !important;
  height: 190px !important;
  transform: none !important;
  left: -390px !important;
  top: 32px !important;
  box-shadow: rgb(86 99 129 / 24%) 0px 8px 16px;
  color: rgb(86, 99, 129);
}

.dropdown-item:hover {
  background-color: transparent !important;
}
.dropdown-item:active {
  background-color: transparent !important;
}
/* time dropdown */
.timeselect-dropbtninput-btn {
  height: 32px;
  width: 128px;
  padding: 0 8px 0 12px;
}
.custom-time-table {
  overflow-y: auto;
  width: 394px !important;
  height: 465px !important;
  transform: none !important;
  left: -138px !important;
  top: 32px !important;
  box-shadow: rgb(86 99 129 / 24%) 0px 8px 16px;
  color: rgb(86, 99, 129);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*  */

.input-type-number {
  font-weight: 400;
  cursor: text;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  background-color: rgb(214, 218, 225);
  border: 1px solid rgb(214, 218, 225);
  height: 24px;
  color: rgb(86, 99, 129);
  padding: 4px 8px 4px 10px !important;
  width: 44px;
}
.input-type-number:focus {
  font-weight: 400;
  cursor: text;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  background-color: white;
  border: 1px solid rgb(214, 218, 225) !important;
  outline: none !important;
  height: 24px;
  color: rgb(86, 99, 129);
  padding: 4px 8px 4px 10px !important;
  width: 44px;
}
.input-type-number:focus .numberlabel {
  color: #0778d4 !important;
}

.custom-share-dropdown {
  width: 600px !important;
  height: 150px !important;
  transform: none !important;
  left: -550px !important;
  top: 27px !important;
  box-shadow: rgb(86 99 129 / 24%) 0px 8px 16px;
  color: rgb(86, 99, 129);
}

.copy-url-main {
  background-color: rgb(246, 247, 249);
  color: rgb(130, 140, 161);
  -webkit-text-fill-color: unset;
  border: 1px solid #d6dae1;
  border-radius: 4px;
  cursor: pointer;
}
.copy-url-main input {
  background-color: rgb(246, 247, 249);
  color: rgb(130, 140, 161);
  cursor: pointer;
  border: 0;
  outline: 0;
  width: 100%;
}
.copy-icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #0778d4;
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 15%);
  height: 40px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 40px;
}

.border-bottom-div {
  height: 20px;
  min-width: 16px;
  border-bottom: 1px solid rgb(130, 140, 161);
}
.border-left-div {
  width: 1px;
  border-left: 1px solid rgb(130, 140, 161);
}
.blocka {
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(130, 140, 161);
}
.modal {
  text-align: center;
}

.modal::before {
  content: "";
  display: inline-block;
  height: 100%;
  margin-right: -4px;
  vertical-align: middle;
}

.modal-dialog {
  width: 960px !important;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.modal-open .modal {
  background: #828ba3b3;
  overflow-x: hidden;
  overflow-y: auto;
}



/* .sc-pin--message{
  display: none !important;
} */

.sc-header ,.sc-pin--message{
  color: white;
    transition: height 160ms ease-out 0s;
    background: linear-gradient(135deg, rgb(3, 156, 73) 0%, rgb(1, 56, 26) 100%) !important;
}
.sc-launcher{
  display: none !important;
}
